@media (min-width: 1170px) {
  .container {
    max-width: 1170px;
  }
  .banner {
    max-width: 1170px;
  }
  .post-user {
    width: 380px;
  }
  .user-card {
    min-width: 330px;
  }
  .header {
    max-width: 1170px;
  }
  .header-right {
    padding-right: 60px;
  }
  .header-left {
    padding-left: 60px;
  }
}

@media (min-width: 1024px) and (max-width: 1170px) {
  .container {
    max-width: 1024px;
  }
  .banner {
    max-width: 1024px;
  }
  .post-user {
    width: 380px;
  }
  .user-card {
    min-width: 242px;
  }
  .header {
    max-width: 1024px;
  }
  .header-right {
    padding-right: 60px;
  }
  .header-left {
    padding-left: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
  .banner {
    max-width: 768px;
  }
  .post-user {
    width: 380px;
  }
  .user-card {
    min-width: 304px;
  }
  .header {
    max-width: 768px;
  }
  .header-right {
    padding-right: 32px;
  }
  .header-left {
    padding-left: 32px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 360px;
  }
  .banner {
    max-width: 360px;
  }
  .post-user {
    width: 328px;
  }
  .user-card {
    min-width: 288px;
  }
  .header {
    max-width: 360px;
  }
  .header-right {
    padding-right: 16px;
  }
  .header-left {
    padding-left: 16px;
  }
}
